@model MovieSite.Models.ViewModels.SharedIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="../Content/stylesheet.css" type="text/css">
<div style="margin-left:35%">

    <h3>Account</h3>

    <h5 style="margin-left:20px">What do you want to do?</h5>
    <div class="AccountIndex">
        @if (Model.AccountViewModel == null)
        {
            <form action="@Url.Action("Login", "Account")">
                <div hidden>
                    <input type="text" name="Login" value="false">
                </div>
                <button class="likebtn">Login</button>
            </form>
            <form action="@Url.Action("CreateNew", "Account")">
                <div hidden>
                    <input type="text" name="Create" value="false">
                </div>
                <button class="likebtn">Create New Account</button>
            </form>
        }
        @if (Model.AccountViewModel != null)
        {
            <form action="@Url.Action("Details","Account")">
                <button class="likebtn">Details</button>
            </form>
            <form action="@Url.Action("LogoutUser","Account")">
                <button class="likebtn">Logout</button>
            </form>
        }
    </div>
</div>
